songbird.pkl
audio/
working/
images/*.png
mfccs/*.csv
audio/Tests/**/*.wav
audio/AS*
.idea/*
.DS_Store
charts/*
mfccs/testing/*
mfccs/training/*
/working-training/*
results/*
/working-evaluation/*
modified_audio_tracking_report.txt
